html,body{
	height:100%;
}
#sidePanel{
	padding:5px;
	float:left;
	height:99%;
	background-color:#f0f0f0;
	border-right:1px solid #e0e0e0;
	box-shadow:1px -1px 15px #888
}
#logo{
	font:21px sans-serif;
	color:#333;
	padding:10px;
	border-bottom:1px solid #AAA;
	text-align:center;
	box-sahow
}
#sidePanel h3{
	color:#444;
	margin-top:25px;
	font:bold 15px sans-serif;
}

#apicalls{
	list-style-type:disc;
	list-style-position:inside;
}

#apicalls li{
	margin:2px 0;
	padding:4px 12px;
}

#apicalls li:hover{
	background-color:#e0e0e0;
	border-radius:4px;
}

#apicalls a{
	color:#2A4FC4;
	font:14px sans-serif;
}
