pre {
	font:13px 'Courier New', courier, monospace;
	outline: 1px;
	solid #ccc; 
	padding: 5px; 
	margin: 5px; 
}
pre .string { color: green; }
pre .number { color: darkorange; }
pre .boolean { color: blue; }
pre .null { color: magenta; }
pre .key { color: #4E68CE; }

pre .headers {
	font:12px courier, monospace;
	margin-bottom:20px;
	color:#333;
}
